html {height:100%;
    width: 100%;
    overflow: hidden;}
body {
    height:100%;
    width: 100%;
    background: black;
    background: url(../img/bg_big_11.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-origin: content-box;
    background-position: center;
    background-size: cover !important;
}

.top-menu,
.top-menu_1 {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
    height: 80px;
    background: #2E3337;
}

.top-menu-left_1 {

    margin: 0;
    padding: 5px;
    background: #315111;
    height: 80px;
    border-radius: 0 40px 40px 0;

}

.top-menu-login-b,
.top-menu-fuelback,
.top-menu-login-b_1,
.top-menu-fuelback_1 {
    display: inline-block;
}

.top-menu-login-b_1 {
    width: 82%;
    background: #1D251D url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC);
    height: 100%;
    padding: 16px;
}
.top-menu-fuelcircul {
    width: 60px !important;
    height: 60px !important;
    box-sizing: border-box;
}
.top-menu-fuelback_1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    position: absolute;
}


.logo_img {

    width: 66px;
    position: relative;
    left: -5px;
    top: -1px;
    opacity: 0.8;
}
.logo_img:hover {
    opacity: 1;
}

.fuel_back_img {
    margin: 0px 2px;
}

.top-menu-money-b,
.top-menu-cart-b,
.top-menu-chat-b {
    display: inline-block;
}

.top-menu-right {
    padding: 3px 10px;
    text-align: right;
}

.top-menu-cart-b,
.top-menu-chat-b {
    width: 55px;
    height: 55px;
    border: 2px solid #424E1C;

}

.top-menu-cart-b {
    margin: 0 5px;
    padding: 5px;
}

.fuel_back_img,
.cart_img,
.chat_img, .cristalls_img, .dollars_img {
    opacity: 0.8;
}

.fuel_back_img:hover,
.cart_img:hover,
.chat_img:hover, .cristalls_img:hover, .dollars_img:hover {
    opacity: 1;
    cursor: pointer;
}

.top-menu-chat-b:active,
.top-menu-cart-b:active {
    box-shadow: 0 0 10px #E7EF00;
    border: 2px solid #C5CC00;
}

.fuel_back_img:active {
    width: 68%;
}

.chat_img {
    padding: 5px;
}

.cart_img:active {
    width: 98%;
}

.top-menu-money-b {
    text-align: right;
    padding-right: 10px;
    position: relative;
    top: 10px;
}

.money-txt {
    color: #EBEBEB;
}

.cristalls_img {
    width: 18%;
    margin: 2px;
}

.dollars_img {
    width: 20%;
    margin: 2px;
}

/*.chevron-1,*/
/*.chevron-2 {*/
    /*color: #49630C !important;*/
    /*font-size: 3em;*/
    /*position: relative;*/
/*}*/

/*.chevron-1 {*/
    /*display: inline !important;*/
    /*left:-30px;*/
/*}*/

/*.chevron-2 {*/
    /*display: inline !important;*/
    /*left:-100px;*/
/*}*/

/*.pager {*/
    /*display: inline-block;*/
    /*float: left;*/
    /*margin: 12px 0;*/
    /*width: 20px;*/
    /*text-decoration: none !important;*/
/*}*/

/*.pager:hover .chevron-1 {*/
    /*color: #98B837 !important;*/
/*}*/

/*.pager:hover .chevron-2 {*/
    /*color: #98B837 !important;*/
/*}*/

.navbar-nav>li {
    padding: 5px 0;
}



.bottom-nav {

    background: url(../img/footer_bg_31.jpg);



}

.navbar-nav>li>a {
    font-stretch: extra-condensed !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #315111;
    margin: 0 20px;
    font-size: 1.35em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #9D9D9D;

}
.navbar-nav>li>a:hover,
 .active_item_b_menu  {
    background: rgba(112, 149, 20, 0.6) !important;
    color: #a8db12 !important;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    border: 2px solid #5C8C2B;
}

/*.active {*/
    /*background:#2794c7;*/
    /*font-weight:bold;*/
    /*color:#ffffff;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*margin: 0 20px;*/
/*}*/

.bottom_menu_img {
    height:45px;}

.glyphicon {
    margin-right: 5px;
    color: #315111;
}



.btn-login,
.btn-registration,
.btn-chat, .btn-welcome {
    background: #315111 !important;
    color: #E8EBE2 !important;
    border: 1px solid #315111 !important;
}

.btn-registration {
    margin-left: 20px;
}

.btn-chat {
    margin-bottom: 20px;
    padding: 5px 20px;
}

.btn-chat:hover {
    background: #82B71F !important;
    color: #A7D81A !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-chat:active {
    box-shadow: 0 0 10px #E7EF00 !important;
}

.btn-login:hover,
.btn-registration:hover, .btn-welcome:hover {
    background: #69963B !important;
}

.btn-login:active,
.btn-registration:active {
    background: #69963B !important;
    box-shadow: 0 0 10px #E7EF00 !important;
}

.well {
    background-color: rgba(46, 51, 55, 0.85);
    color: #E8EBE2 !important;
    border: 1px solid #315111;
}

.chat-body {
    min-height: 340px;
    padding: 20px;
    margin-top: 5px;
    z-index: 555 !important;

}

#collapseExample_1 {
    z-index: 2;
}
#collapseExample_2 {
    position: absolute;
}

.chat-btn-enter {
    background: #315111 !important;
    color: white !important;
    border: 1px solid #315111 !important;
}

.chat-btn-enter:hover {
    background: #69963B;
    border: 1px solid #69963B;
}

.chat-btn-enter:active {
    box-shadow: 0 0 10px #E7EF00 !important;
}

.chat-btn-enter:active {
    border: 1px solid #69963B;
}

.middle {
    z-index: 1 !important;
    width: 100%;
    position: absolute;
    bottom:100px;
}
.top-menu-right  {
    z-index: 555 !important;

}

.s-media {
    margin-right: 20px;
}
.s-media-item {
    margin: 10px 20px;
    opacity: 0.9;
    position: relative;
    float:right;
}

.s-media-item:hover, .s-media-item:focus {
    opacity: 1;
    top:1px;
    left:1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

}

.statistic {
    background-color: rgba(46, 51, 55, 0.85);
    font-size: 11px;
    color: white;
    padding: 10px;
    float: left;
    position: absolute;
    bottom: 0;
}

.statistic-item {
    padding: 2px 10px;
    margin: 0;
}

/*shine effect for bottom button menu*/
.bottom_menu_img_active {
    -webkit-animation: pulsate 2.5s linear infinite;
    animation: pulsate 2.5s linear infinite;

}

@-webkit-keyframes pulsate
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.5;



    }
    100% {
        opacity: 1;
    }
}

@keyframes pulsate {
    0%   {
    opacity: 0.95;
}
    50%  {
        opacity: 0.5;



    }
    100% {
        opacity: 1;
    }
}


.shine
{

    -webkit-animation: pulsates 2.5s linear infinite;
    animation: pulsates 2.5s linear infinite;
}

@-webkit-keyframes pulsates
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;
        border: 2px solid #5C8C2B;
        box-shadow: 0 0 10px #E7EF00;

    }
    100% {
        opacity: 0.95;
    }
}

@keyframes pulsates
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;
        border: 2px solid #5C8C2B;
        box-shadow: 0 0 10px #E7EF00;
    }
    100% {
        opacity: 0.95;
    }
}
.logo_shine
{
border-radius: 50%;
    -webkit-animation: pulsate_1 2.5s linear infinite;
    animation: pulsate_1 2.5s linear infinite;
}

@-webkit-keyframes pulsate_1
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;

        box-shadow: 0 0 5px #E7EF00;

    }
    100% {
        opacity: 0.95;
    }
}

@keyframes pulsate_1
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;

        box-shadow: 0 0 8px #E7EF00;
    }
    100% {
        opacity: 0.95;
    }
}


/*carousel*/

.slider_control {
    margin-top: -105px !important;
}

.carousel, .carousel-inner, .carousel_img {
    width: 100%;
    height: 100% !important;
}
.carousel_item {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100% !important;
    background: black;
    background-size: cover;
}

.carousel_item_1 {
    background: url(../img/slide01.jpg) no-repeat center center;
    background-size: cover;
}
.carousel_item_2 {
    background: url(../img/slide02.jpg) no-repeat center center;
    background-size: cover;
}
.carousel_item_3 {
    background: url(../img/slide03.jpg) no-repeat center center;
    background-size: cover;
}
.carousel_item_4 {
    background: url(../img/slide04.jpg) no-repeat center center;
    background-size: cover;
}
.carousel {
    z-index: 1 !important;
}

/*welcome modal*/

.modal-content {

    border: 2px solid #6e824c !important;
    color:#dcd6c8;
    margin: 0 20px;
    font-size: 14px;
    border-radius: 5px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75) !important;
}

.modal_welcome_title, .modal_contacts_title , .modal_sale_title {
    text-align: center !important;
}
.modal_gold_txt {
    color:#ffcd00;
    line-height: 1.3em;
}

.btn-welcome {
    margin: 15px 0;
}
.modal_welcome_item {

}
.modal_welcome_img {

}
/*modal contacts */
.contacts-b {
    font-size: 1.2em;
}

.modal_contacts_phone_item {
    color:#d6560c;
}
.glyphicon-contacts {
    color: inherit;
}

.bottom_menu_img_1 {

    font-size: 1.5em;
}