html {height:100%;
    overflow: hidden;}
body {
    background: black;
    background: url(../img/bg_big_11.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-origin: content-box;
    background-position: center;
    background-size: cover !important;
}

.top-menu,
.top-menu_1 {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
    height: 80px;
    background: #2E3337;
}

.top-menu-left_1 {

    margin: 0;
    padding: 5px 5px 5px 6%;
    background: #315111;
    height: 80px;
    border-radius: 0 40px 40px 0;

}

.top-menu-login-b,
.top-menu-fuelback,
.top-menu-login-b_1,
.top-menu-fuelback_1 {
    display: inline-block;
}

.top-menu-login-b_1 {
    width: 82%;
    background: #1D251D url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC);
    height: 100%;
    padding: 16px;
}
/*
.top-menu-fuelback_1 {
    width: 64px;
    height: 80%;
    background: #1D251D url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC);
    border-radius: 50%;
    right: 8px;
    top: 10%;
    position: absolute;
}
*/
.top-menu-fuelback_1 {
    width: 60px;
    height: 60px;
    background: #1D251D url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC);
    border-radius: 50%;
    right: 10px;
    top: 10px;
    position: absolute;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*
.top-menu-fuelcircul {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 3px dashed #B2FE00;
    padding: 10%;
    position: absolute;
    right: 5px;
    top: 5px;

}*/
/*

.top-menu-fuelcircul {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 3px dashed #B2FE00;
    padding: 10%;
    position: absolute;
    right: 8px;
    top: 8px;
}
*/
/*
.top-menu-fuelcircul_move {
    width: 130%;
    height: 130%;
    border-radius: 50%;
    border: 2px dotted yellow;
    border-top-color: black;
    border-right-color: black;
    padding: 10%;
    position: absolute;
    right: -7px;
    top: -7px;
   display: none;
}

.top-menu-fuelcircul:hover  .top-menu-fuelcircul_move {
    display: block;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
*/

.logo_img {

    width: 66px;
    position: relative;
    left: -5px;
    top: -1px;
    opacity: 0.8;
}
.logo_img:hover {
    opacity: 1;
}

.fuel_back_img {
    margin: 0px 2px;
}
/*
.fuel_back_img {
    margin: 2px 5px;
}
*/
.top-menu-money-b,
.top-menu-cart-b,
.top-menu-chat-b {
    display: inline-block;
}

.top-menu-right {
    padding: 3px 10px;
    text-align: right;
}

.top-menu-cart-b,
.top-menu-chat-b {
    width: 55px;
    height: 55px;
    border: 2px solid #424E1C;

}

.top-menu-cart-b {
    margin: 0 5px;
    padding: 5px;
}

.fuel_back_img,
.cart_img,
.chat_img, .cristalls_img, .dollars_img {
    opacity: 0.8;
}

.fuel_back_img:hover,
.cart_img:hover,
.chat_img:hover, .cristalls_img:hover, .dollars_img:hover {
    opacity: 1;
    cursor: pointer;
}

.top-menu-chat-b:active,
.top-menu-cart-b:active {
    box-shadow: 0 0 10px #E7EF00;
    border: 2px solid #C5CC00;
}

.fuel_back_img:active {
    width: 68%;
}

.chat_img {
    padding: 5px;
}

.cart_img:active {
    width: 98%;
}

.chat_img:active {
    width: 98%;
}

.top-menu-money-b {
    text-align: right;
    padding-right: 10px;
    position: relative;
    top: 10px;
}

.money-txt {
    color: #EBEBEB;
}

.cristalls_img {
    width: 18%;
    margin: 2px;
}

.dollars_img {
    width: 20%;
    margin: 2px;
}

.chevron-1,
.chevron-2 {
    color: #49630C !important;
    font-size: 3em;
    position: relative;
}

.chevron-1 {
    display: inline !important;
    left:-30px;
}

.chevron-2 {
    display: inline !important;
    left:-100px;
}

.pager {
    display: inline-block;
    float: left;
    margin: 12px 0;
    width: 20px;
    text-decoration: none !important;
}

  .pager:hover .chevron-1 {
    color: #98B837 !important;
}

.pager:hover .chevron-2 {
    color: #98B837 !important;
}

.navbar-nav>li {
    padding: 5px 0;
}



.bottom-nav {

    background: url(../img/footer_bg_31.jpg);



}

.navbar-nav>li>a {
    font-stretch: extra-condensed !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #315111;
    margin: 0 20px;
    font-size: 1.35em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);

}

.navbar-nav>li>a:hover, .active_item_b_menu  {
    background: rgba(112, 149, 20, 0.6) !important;
    color: #a8db12 !important;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    border: 2px solid #5C8C2B;
}
/*
.navbar-nav>li>a:active {
    box-shadow: 0 0 10px #E7EF00;
    border: 2px solid #C5CC00;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
}
*/

.bottom_menu_img {
height:45px;}

.glyphicon {
    margin-right: 5px;
    color: #315111;
}

.navbar-nav>li>a:hover .glyphicon {
    color: #9D9D9D;
}

.btn-login,
.btn-registration,
.btn-chat {
    background: #315111 !important;
    color: #E8EBE2 !important;
    border: 1px solid #315111 !important;
}

.btn-registration {
    margin-left: 20px;
}

.btn-chat {
    margin-bottom: 20px;
    padding: 5px 20px;
}

.btn-chat:hover {
    background: #82B71F !important;
    color: #A7D81A !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-chat:active {
    box-shadow: 0 0 10px #E7EF00 !important;
}

.btn-login:hover,
.btn-registration:hover {
    background: #69963B !important;
}

.btn-login:active,
.btn-registration:active {
    background: #69963B !important;
    box-shadow: 0 0 10px #E7EF00 !important;
}

.well {
    background-color: rgba(46, 51, 55, 0.85);
    color: #E8EBE2 !important;
    border: 1px solid #315111;
}

.chat-body {
    min-height: 340px;
    padding: 20px;
    margin-top: 5px;

}

.chat-btn-enter {
    background: #315111 !important;
    color: white !important;
    border: 1px solid #315111 !important;
}

.chat-btn-enter:hover {
    background: #69963B;
    border: 1px solid #69963B;
}

.chat-btn-enter:active {
    box-shadow: 0 0 10px #E7EF00 !important;
}

.chat-btn-enter:active {
    border: 1px solid #69963B;
}

/* Animation properties */
.star {
    animation: star 10s ease;
}
.wars {
    animation: wars 10s ease;
}
.byline span {
    animation: spin-letters 10s linear;
}
.byline {
    animation: move-byline 10s linear;
}

/* Keyframes */
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.9;

    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(0.5em);
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.9;

    }
}

@keyframes spin-letters {
    0%, 10% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    30% {
        opacity: 1;
    }
    70%, 86% {
        transform: rotateY(0deg);
        opacity: 1;
    }
    95%, 100% {
        opacity: 0.9;
    }
}

@keyframes move-byline {
    0% {
        transform: translateZ(5em);
    }
    100% {
        transform: translateZ(0);
    }
}

/* Make the 3D work on the container */
.starwars-demo {
    perspective: 800px;
    transform-style: preserve-3d;
    display: none;
}

/* General styles and layout */


.starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
}

.byline span {
    display: inline-block;
}

#img-logo-anime, #img-logo-anime_1 {
    width: 100% !important;
}

.star, .wars, .byline {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.5em;
}

.byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
    .starwars-demo {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .starwars-demo {
        font-size: 7px;
    }
}
