html {height:100%;
    width: 100%;
    overflow: hidden;}
/*body {*/
    /*height:100%;*/
    /*width: 100%;*/
    /*background: black;*/
    /*background: url(../img/bg_big_11.jpg) no-repeat center center fixed;*/
    /*background-size: cover;*/
    /*overflow: hidden;*/
/*}*/

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-origin: content-box;
    background-position: center;
    background-size: cover !important;
}

.top-menu,
.top-menu_1 {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
    height: 80px;
    background: #2E3337;
}

.backward_home_item {
    color: darkolivegreen !important;
    text-align: center !important;
    font-size: 2em;
    padding: 19px;
}
.glyphicon-home,
.home {
    padding: 10px;
    font-size: 14px;
    color: white !important;
    text-align: center;

}
.home {
    padding: 10px;
    font-size: 1.5em;
    color: white !important;
    border: 2px solid #424E1C;
    height: 55px;
}
.top-menu-left_1 {

    margin: 0;
    padding: 5px;
    background: #315111;
    height: 80px;
    border-radius: 0 40px 40px 0;

}

.top-menu-login-b,
.top-menu-fuelback,
.top-menu-login-b_1,
.top-menu-fuelback_1 {
    display: inline-block;
}

.top-menu-login-b_1 {
    width: 82%;
    background: #1D251D url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC);
    height: 100%;
    padding: 16px;
}
.top-menu-fuelcircul {
    width: 60px !important;
    height: 60px !important;
    box-sizing: border-box;
}
.top-menu-fuelback_1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    position: absolute;
}


.logo_img {

    width: 66px;
    position: relative;
    left: -5px;
    top: -1px;
    opacity: 0.8;
}
.logo_img:hover {
    opacity: 1;
}

.fuel_back_img {
    margin: 0px 2px;
}

.top-menu-money-b,
.top-menu-cart-b,
.top-menu-chat-b {
    display: inline-block;
}

.top-menu-right {
    padding: 3px 15px;
    text-align: right;
}

.top-menu-cart-b,
.top-menu-chat-b {
    width: 55px;
    height: 55px;
    border: 2px solid #424E1C;

}

.top-menu-cart-b {
    margin: 0 5px;
    padding: 5px;
    top:12px;
}

.fuel_back_img,
.cart_img,
.chat_img, .cristalls_img, .dollars_img {
    opacity: 0.8;
}

.top-menu-chat-b {
    position: relative;
}
.top-menu-chat_quantity {
    position: absolute;
    border-radius: 3px;
    top:-10px;
    right: -10px;
padding: 0 5px;
color:white;
background: #b30000;
    font-size: 11px;
    font-weight: 400;
}

.fuel_back_img:hover,
.cart_img:hover,
.chat_img:hover, .cristalls_img:hover, .dollars_img:hover {
    opacity: 1;
    cursor: pointer;
}

.top-menu-chat-b:active,
.top-menu-cart-b:active {
    box-shadow: 0 0 10px #E7EF00;
    border: 2px solid #C5CC00;
}

.fuel_back_img:active {
    width: 68%;
}

.chat_img {
    padding: 5px;
}

.cart_img:active {
    width: 98%;
}

.top-menu-money-b {
    text-align: right;
    padding-right: 10px;
    position: relative;
    top: 12px;
}

.money-txt {
    color: #EBEBEB;
}

.cristalls_img {
    width: 18%;
    margin: 2px;
}

.dollars_img {
    width: 20%;
    margin: 2px;
}


.navbar-nav>li {
    padding: 5px 0;
}



.bottom-nav {
background: black;
    background: url(../img/footer_bg_31.jpg);



}

.button_bottom_menu {
    background: #315111;
}

.button_bottom_menu:hover {
    background: #69963B !important;
}

.navbar-nav>li>a {
    font-stretch: extra-condensed !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #315111;
    margin: 0 20px;
    font-size: 1.35em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #9D9D9D;

}
.navbar-nav>li>a:hover,
 .active_item_b_menu  {
    background: rgba(112, 149, 20, 0.6) !important;
    color: #a8db12 !important;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    border: 2px solid #5C8C2B;
}


.bottom_menu_img {
    height:45px;}

.glyphicon {
    margin-right: 5px;
    color: #315111;
}



.btn-login,
.btn-registration,
.btn-chat, .btn-welcome {
    background: #315111 !important;
    color: #E8EBE2 !important;
    border: 1px solid #315111 !important;
}

.btn-registration {
    margin-left: 20px;
}

.btn-chat {
    margin-bottom: 20px;
    padding: 5px 20px;
}

.btn-chat-a  {
    padding: 0 !important;
    /*position: relative;*/
    /*top:-12px;*/
}

.btn-chat:hover {
    background: #82B71F !important;
    color: #A7D81A !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-chat:active {
    box-shadow: 0 0 10px #E7EF00 !important;
}

.btn-login:hover,
.btn-registration:hover, .btn-welcome:hover {
    background: #69963B !important;
}

.btn-login:active,
.btn-registration:active {
    background: #69963B !important;
    box-shadow: 0 0 10px #E7EF00 !important;
}

.well {
    background-color: rgba(46, 51, 55, 0.85);
    color: #E8EBE2 !important;
    border: 1px solid #315111;
}

.chat-body {
    min-height: 340px;
    margin-right: 15px;
    padding: 20px;
    /*margin-top: 5px;*/
    z-index: 555 !important;

}

#collapseExample_1 {
    z-index: 2;
}
#collapseExample_2 {
    position: absolute;
}

.chat-btn-enter {
    background: #315111 !important;
    color: white !important;
    border: 1px solid #315111 !important;
}

.chat-btn-enter:hover {
    background: #69963B;
    border: 1px solid #69963B;
}

.chat-btn-enter:active {
    box-shadow: 0 0 10px #E7EF00 !important;
}

.chat-btn-enter:active {
    border: 1px solid #69963B;
}

.middle {
    z-index: 1 !important;
    width: 100%;
    position: absolute;
    bottom:100px;
}
.top-menu-right  {
    z-index: 555 !important;

}

.s-media {
    margin-right: 20px;
}
.s-media-item {
    margin: 10px 20px;
    opacity: 0.9;
    position: relative;
    float:right;
}

.s-media-item:hover, .s-media-item:focus {
    opacity: 1;
    top:1px;
    left:1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

}

.statistic {
    background-color: rgba(46, 51, 55, 0.85);
    font-size: 11px;
    color: white;
    margin-left: 15px;
    padding: 10px;
    float: left;
    position: absolute;
    bottom: 0;
}

.statistic-item {
    padding: 2px 10px;
    margin: 0;
}

/*shine effect for bottom button menu*/
.bottom_menu_img_active {
    -webkit-animation: pulsate 2.5s linear infinite;
    animation: pulsate 2.5s linear infinite;

}

@-webkit-keyframes pulsate
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.5;



    }
    100% {
        opacity: 1;
    }
}

@keyframes pulsate {
    0%   {
    opacity: 0.95;
}
    50%  {
        opacity: 0.5;



    }
    100% {
        opacity: 1;
    }
}


.shine
{

    -webkit-animation: pulsates 2.5s linear infinite;
    animation: pulsates 2.5s linear infinite;
}

@-webkit-keyframes pulsates
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;
        border: 2px solid #5C8C2B;
        box-shadow: 0 0 10px #E7EF00;

    }
    100% {
        opacity: 0.95;
    }
}

@keyframes pulsates
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;
        border: 2px solid #5C8C2B;
        box-shadow: 0 0 10px #E7EF00;
    }
    100% {
        opacity: 0.95;
    }
}
.logo_shine
{
border-radius: 50%;
    -webkit-animation: pulsate_1 2.5s linear infinite;
    animation: pulsate_1 2.5s linear infinite;
}

@-webkit-keyframes pulsate_1
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;

        box-shadow: 0 0 5px #E7EF00;

    }
    100% {
        opacity: 0.95;
    }
}

@keyframes pulsate_1
{
    0%   {
        opacity: 0.95;
    }
    50%  {
        opacity: 0.85;

        box-shadow: 0 0 8px #E7EF00;
    }
    100% {
        opacity: 0.95;
    }
}


/*carousel*/

.slider_control {
    margin-top: -105px !important;
}

.carousel, .carousel-inner, .carousel_img {
    width: 100%;
    height: 100% !important;
}
.carousel_item {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100% !important;
    background: black;
    background-size: cover;
}

.carousel_item_1 {
    background: url(../img/slide01.jpg) no-repeat center center;
    background-size: cover;
}
.carousel_item_2 {
    background: url(../img/slide02.jpg) no-repeat center center;
    background-size: cover;
}
.carousel_item_3 {
    background: url(../img/slide03.jpg) no-repeat center center;
    background-size: cover;
}
.carousel_item_4 {
    background: url(../img/slide04.jpg) no-repeat center center;
    background-size: cover;
}
.carousel {
    z-index: 1 !important;
}

/*welcome modal*/

.modal-content {

    border: 2px solid #6e824c !important;
    color:#dcd6c8;
    margin: 0 20px;
    font-size: 14px;
    border-radius: 5px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75) !important;
}

.modal-content_sdelka {
    background: rgba(0, 0, 0, 1) !important;
}

.modal_welcome_title, .modal_contacts_title , .modal_sale_title, .modal_buy_title {
    text-align: center !important;
}
.modal_gold_txt {
    color:#ffcd00;
    line-height: 1.3em;
}

.btn-welcome {
    margin: 15px 0;
    width: 100%;
}

.btn-welcome_b {
    text-align: center;
}
.modal_welcome_item {

}
.modal_welcome_img {

}

.gid_b {
    text-align: center;
margin-top: 20px;
    margin-bottom: 20px;
}
/*modal contacts */
.contacts-b {
    font-size: 1.2em;
}

.modal_contacts_phone_item {
    /*color:#d6560c;*/
}
.glyphicon-contacts {
    color: inherit;
}
/*modal sale title*/

.modal_sale_title, .modal_contacts_title, .modal_welcome_title, .modal_buy_title {
    margin-top: 5px;
    margin-bottom: 15px;
}
.modal_contacts_viber {
    color: #800080;
} .modal_contacts_line {
    color: #99CC00;
  }.modal_contacts_whatsapp {
color: #339966;
     }
.close_modal {
    color:white;
}
.bottom_menu_img_1 {

    font-size: 1.5em;
}

.btn-sale, .btn-buy, .btn-close {
    background: #315111 !important;
    color: #E8EBE2 !important;
    border: 1px solid #315111 !important;
}

.btn-sale:hover, .btn-buy:hover, .btn-close:hover {
    background: #6e824c !important;
}

.btn-buy {
    margin: 10px 15px 10px 0;
}

.btn-sale {
    margin: 10px 0;
}

/*shine effect for cart
.btn-glass {
    -webkit-transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
    transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
    position: relative;
    background-attachment: fixed, scroll;
    background-size: 100vw 100vh, cover;
    background-position: center center, 0 0;
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
    overflow: hidden;
}
.btn-glass:hover {
    background-position: -100vw 0, 0 0 !important;
}

*/

/*author block*/

.login_auth {color: #ebebeb;}


    .login_name {
    font-size: 1.5em;
        text-align: left;
}
.login-flag {
    text-align: right !important;

}
.login_level {
    text-align: center;
}
.login_level_indicator {
    color: goldenrod;
    font-size: 1.4em;
    font-weight: 600;
}

.prog_bar {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 5px;
    border: 1px solid grey;
}

.login_progresm{
    text-align: left !important;
}

.login_progres_level {
    padding: 0;
    margin-bottom:10px ;
}
.login_progres_level_indicator {
    color: #ebebeb;
}

.prog_bar_white {
    width: 50%;
    height: 100%;
    background: #ebebeb;
}
.prog_bar_black {
    width: 50%;
    height: 100%;
    background: black;
}


/*.modal-header {*/
    /*background: red !important;*/
/*}*/