/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .bottom_menu_img {
        height: 38px;
    }

    .navbar-nav>li>a {
        margin: 0 8px;
        font-size: 1.2em;}
}

@media only screen and (max-width : 1090px) {
    .navbar-nav>li>a {
        margin: 0 8px;
        font-size: 1.2em;}

    .bottom_menu_img {
        height: 25px;
        width: initial;
    }
}

/*.top-menu-login-b_1 {*/
    /*width: 79%;}*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar-nav>li>a {
        margin: 0 5px;
        font-size: 1.1em;
    }

    .top-menu-login-b_1 {
        width: 77%;}

}

@media only screen and (max-width : 801px) {
    .navbar-nav>li>a {
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 1.0em;
    }

    .top-menu-login-b_1 {
        width: 75%;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .top-menu-right {
font-size: 13px;
        width: 50%;
        padding: 5px 0 !important;
    }


    .top-menu-money-b {
        padding-right: 0 !important;

    }
    .top-menu-login-b_1 {
        width: 66%;}

    .top-menu-left_1 {
        z-index: 555 !important;
        width: 50%;
    }

    .chevron-1 {

        left:-40px;
    }

    .chevron-2 {

        left:-65px;
    }

}

@media only screen and (max-width : 650px) {
    .top-menu-left_1 {
        z-index: 555 !important;

    }
    .top-menu-right {

        padding: 10px !important;

    }

    .top-menu-money-b {
         padding-right: 0 !important;

    }

    .btn-chat-a {padding: 0;}

    span.money-txt {font-size: 12px;}

    img.cart_img {width: 25px !important;}
    img.chat_img {width: 36px !important;}
    img.dollars_img {width: 30px !important;}
    img.cristalls_img {width: 23px !important;}

    .top-menu-cart-b, .top-menu-chat-b {
        width: auto;
        height: auto;

    }
    .top-menu-chat-b {margin: 0 5px 0 0;}
    .top-menu-cart-b {  margin: 0 2px;}

    .top-menu-money-b {

        padding-right: 0 !important;
        top:10px;
    }

    .btn-login {
        margin: 0 !important;
    }
.btn-registration {
    margin: 10px 0 !important;
}



    .top-menu, .top-menu_1 {
        height: 60px;

    }

    .logo_img {width: 49px;
    left:0;
        top:1px;
    }
    .top-menu-login-b_1 {

        padding: 8px;}

    .top-menu-left_1 {
        margin: 0;
        height: 60px;
        border-radius: 0 30px 30px 0;
    }

    .top-menu-fuelback_1 {
        width: 50px;
        height: 50px;
        right: 5px;
        top: 5px;
    }

    .top-menu-fuelcircul {
        width: 40px;
        height: 40px;
        right: 5px;
        top: 5px;
    }

    .top-menu-fuelcircul_move {
        width: 45px;
        height: 45px;
        right: -6px;
        top: -6px;
    }

    .fuel_back_img {
        margin: 0 2px;
        width: 20px;
    }
    .chevron-1,
    .chevron-2 {left: 0;
       font-size:  1.7em;
    }

    .chevron-1 {

        left:-25px;
    }

    .chevron-2 {

        left:-40px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .chevron-1 {
        display: inline !important;
        left:-10px;
    }

    .chevron-2 {
        display: inline !important;
        left:-25px;
    }
    .btn-login, .btn-registration {
        display: block;
        margin: 10px;
        width: 92% !important;
    }

    .chevron-1,
    .chevron-2 {

        font-size: 1.5em;}

    .login-box {width: 180%;
    margin: 10px 0px;}

}

@media only screen and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

.top-menu-right {display: none !important;}

    .money-txt {font-size:10px !important;}

    .chat_img {width: 25px !important;}
    .cart_img {width: 25px !important;}
    .top-menu-left_1 {width: 100% !important;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}