/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1090px) {
    .navbar-nav>li>a {
        margin: 0 10px;
        font-size: 1.3em;}
}

.top-menu-login-b_1 {
    width: 79%;}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar-nav>li>a {
        margin: 0 5px;
        font-size: 1.15em;
    }

    .top-menu-login-b_1 {
        width: 77%;}

}

@media only screen and (max-width : 801px) {
    .navbar-nav>li>a {
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 1.1em;
    }

    .top-menu-login-b_1 {
        width: 75%;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .top-menu-login-b_1 {
        width: 74%;}

    .top-menu-left_1 {
        z-index: 555 !important;
        width: 50%;
    }
    .top-menu-right {

        width: 50%;
    }
}

@media only screen and (max-width : 650px) {
    .top-menu-left_1 {
        z-index: 555 !important;

    }
    .top-menu-right {
       /* background: rgba(0, 0, 0, 0.7) !important;*/
        padding: 0;

    }

    .btn-chat-a {padding: 0;}

    span.money-txt {font-size: 12px;}

    img.cart_img {width: 25px !important;}
    img.chat_img {width: 36px !important;}
    img.dollars_img {width: 30px !important;}
    img.cristalls_img {width: 30px !important;}

    .top-menu-cart-b, .top-menu-chat-b {
        width: auto;
        height: auto;

    }
    .top-menu-chat-b {margin: 0 5px 0 0;}
    .top-menu-cart-b {  margin: 0 2px;}

    .top-menu-money-b {

        padding-right: 0px !important;

    }

    .btn-login {
        margin: 0 !important;
    }
.btn-registration {
    margin: 10px 0 !important;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .chevron-1 {
        display: inline !important;
        left:-14px;
    }

    .chevron-2 {
        display: inline !important;
        left:-80px;
    }
    .btn-login, .btn-registration {
        display: block;
        margin: 10px;
        width: 92% !important;
    }

    .chevron-1,
    .chevron-2 {

        font-size: 2.7em;}

    .login-box {width: 150%;
    margin: 20px -20px;}

}

@media only screen and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

.top-menu-right {display: none !important;}

    .money-txt {font-size:10px !important;}

    .chat_img {width: 25px !important;}
    .cart_img {width: 25px !important;}
    .top-menu-left_1 {width: 100% !important;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}