/* font-family: "RobotoRegular"; */

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/* font-family: "RobotoLight"; */

@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/* font-family: "RobotoMedium"; */

@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/* font-family: "RobotoBold"; */

@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
background: #F1F2F2;
}

.cbg {position: absolute;
padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;

}




.container {
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'RobotoRegular;
	}
#header {
/*	background: url(../img/slide.jpg) no-repeat center center;*/
	background-size: cover;
	height: auto;
	width: 100%;
	max-width: 2624px;
	box-sizing: border-box;
	padding: 3.5% 9% 0;
	position: relative;
}
.logo {
	display: inline;
	position: relative;
	bottom:-1.8em;
}
.logo a {
	color: #ffffff;
	font: 700 50px RobotoRegular;
	text-decoration: none;
	display: inline-block;
}
.top-menu {
	position: relative;
	margin-bottom: 3.15%;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
}
.main-menu {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	background: white;
	max-width: 2085px;
	width: 100%;
/*	max-height: 100px;*/
	box-sizing: border-box;
	box-shadow: 1px 1px 3px;
}
#language_select,
.top-menu li,
.main-menu li {
	display: inline;
	text-align: center;
}

.top-menu li a,
.main-menu li a,
.logo a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}
#language_select {
	color: white;
	padding: 0 0.7em;
	text-transform: uppercase;
	background: none;
	border: 1px solid white;
	margin-left: 3%;
	-webkit-appearance: none;
-moz-appearance: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
text-indent: 0.1px;
-text-overflow: '';
}

#language_select:focus {
color: gold;
	background: none;
}
.top-menu li a {
	color: #ffffff;
	font: 300 0.7875em RobotoRegular;
	margin-left: 4%;
}
#language_select:hover{
background: #B5A583;
}
.main-menu li a {
	color: #6d6e71;
	font: 700 0.875em RobotoRegular;
	height: 45px;
	line-height: 45px;
	margin-left: 3%;
	padding: 0 0.3125em;
}

.main-menu-item:before {
	position: absolute;
	top: 40%;
	right: -1.25em;
	width: 0px;
	height: 0px;
	border-top: 0.3125em solid transparent;
	border-left: 0.425em solid grey;
	border-bottom: 0.3125em solid transparent;
}

.top-menu li a:hover {
border-bottom: 2px dashed #F2C548 ;
}
.main-menu-item:hover {
	color: black;
	background: #BEAF92;
}
#header .cart a {
	color: #ffffff;
	width: 15.8%;
	font: 0.875em RobotoBold;
	height: 45px;
	line-height: 45px;
	border:1px ;
	}

.cart a:hover {
opacity: 0.8;
}
.main-title-f,
.main-title-s,
.main-title-t {
	color: #ffffff;
	font: 700 60px / 52px RobotoRegular;
}
.cart a {
	background: rgba(102, 198, 47, 1);
	background: -webkit-linear-gradient(rgba(102, 198, 47, 1) 0%, rgba(136, 120, 37, 1) 74%, rgba(136, 120, 37, 1) 100%);
	background: linear-gradient(rgba(102, 198, 47, 1) 0%, rgba(136, 120, 37, 1) 74%, rgba(136, 120, 37, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#66c62f', endColorstr='#887825', GradientType=0);
}
#header {
	text-transform: uppercase;
}
#header > h1.main-title-f {
	margin-top: 130px;
	margin-left: 8%;
}
#header > h1.main-title-s {
	margin-left: 17%;
}
#header > h1.main-title-t {
	padding-bottom: 20px;
	margin-left: 24%;
}
/*--------------------advanced section ------------------------------*/
.left {
	box-sizing: border-box;
	position: relative;
	width: 57.5%;
	max-width: 1510px;
	min-width: 30%;
	height: auto;
/*	max-height: 1116px;*/
	display: block;
	float: left;
	text-align: right;
}
.advantages {
	width: 45%;
	padding: 1.5em 0 3.656em;
	box-sizing: border-box;
	display: inline-block;
}

.advantages li {
text-align: left;
}

li.advantages-item-type {
	color: #4d4545;
	font: 700 25.16px / 18.868px RobotoBold;
	text-transform: uppercase;
}
li.advantages-item-type span {
	color: #a7a9ac;
	font: 400 11px / 12.579px RobotoRegular;
}
.advantages-item-index {
	color: #c49a6c;
	font: 400 25.16px / 18.868px RobotoRegular;
	margin: 5px 5px 20px;
}

li.advantages-item-type:before {
	content: " ";
		width: 80%;
	height: 80%;
	background: url("../img/star.png") no-repeat;
	background-size: contain;
	position: absolute;
	left: -2.5em;
	top:-0.3em;
}

.bottle {
	position: absolute;
	width: 23%;
	height: auto;
	top: -12%;
	left: 20%;
}
.advantage-add-info-title {
	text-align: left;
	margin-left: 48%;
	position: relative;
	color: #25383f;
	font: 700 42px / 48px RobotoRegular;
	text-transform: uppercase;
}
.advantage-add-info-btn {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-size: 1.4em;
	font-family: "RobotoBold";
	text-align: center;
	display: inline-block;
	border: 0.2em solid black;
	padding: 0.5em;
/*	width: 29%;*/
	max-width: 462px;
	box-sizing: padding-box;
	margin-top: 2%;
	margin-right: 25%;
}

.advantage-add-info-btn:hover {
background: #D2B909;
}
.advantage-add-info-left-text {
	position: absolute;
	left: 35%;
	bottom: 21%;
}
/*--------------------form section ------------------------------*/
.form-section {
	position: relative;
	box-sizing: border-box;
	background: url(../img/form_bg.png) no-repeat;
	background-size: cover;
	width: 42.5%;
	height: auto;
	text-transform: uppercase;
	max-width: 1114px;
/*	max-height: 1116px;*/
	display: block;
	float: right;
	text-align: center;
}
.form-wrapper {
	position: relative;
	box-sizing: border-box;
	width: 59%;
	max-width: 667px;
	max-height: 1238px;
	background: #E9E5E4;
	top: -14em;
	left: 20%;
	padding: 1em;
}
.form hr {
	width: 53.7%;
	max-width: 358px;
	color: #DADADB;
	outline: none;
}
.form {
/*	width: 91%;*/
	box-sizing: border-box;
	border-radius: 2px;
/*	padding: 5px;*/
	border: 1px dashed #A7A9AC;
	background: #EFEFEF;
	margin-left: auto;
	margin-right: auto;
}

section.form-section > div > form > p:nth-child(4) {
padding-top: 2em;
}

.form input,
.form select {
	width: 78%;
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.8em;
	height: 2.2em;
	padding-left: 0.5em;
}
.form-item-title {
	text-transform: none;
	text-align: left;
	font-size: 0.9em;
		margin-left: 2.4em;
	margin-bottom: 0.5em;
}
.form-title {
	font-size: 2em;
	line-height: 1em;
	font-family: "RobotoBold";
	font-family: RobotoRegular;
	padding: 5%;
}
.form-title-1 {
	font-weight: 300;
	font-size: 1em;
	margin-bottom: 1em;
}
.form-title-1 span {
	font-weight: 700;
}
.form-result,
.form-result-title {
	color: #D26441;
}
.form-result {
	font-size: 3em;
}
.form-result+p {
	margin-bottom: 2em;
	text-transform: none;
}
