/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.zakaz_1_click {margin: 15px auto; color: white;}

 /*.cw, .phone {*/
  /*color: grey !important;*/
 /*}*/

 .top_contacts {color: #129AC7; text-align: center; padding: 15px;}

 .main_menu {margin-bottom: 0;}

 .logo_top {
  padding-top: 15px;
 }

 .logo_top img {
  width:80%;
 }

 body > header > div.container > div.row.header_topline_row.hidden-lg.hidden-md > div.col-sm-12.col-xs-12.zakaz_1_click.zakaz_1_bottom > a > img {
  width: 40%;
 }
 .zakaz_1_bottom img {
  width: 40%;
 }

 .zakaz_1_click img {
  width:80%;
 }

 .top_contacts {
  padding: 15px 0;
 }
 .header_topline_row .top {
  display: none;

 }
 .header_topline_row {
  padding: 0;
 }
 /*.header_topline {background: none !important;}*/

 .navbar-default .navbar-nav>li>a {
  font-size: 12px;
 }

 .nav>li>a {
  padding: 10px 14px;
 }

 .navbar-nav>li>a {
  line-height: 28px;
 }

}





/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 .cw, .phone {
  color: grey !important;
 }
 .top_contacts {
  text-align: center;
 }
 .slide_item img {width: 100%;}

 .main_menu {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
 }
 .navbar-nav, nav, .navbar {margin-bottom: 0;}

 .main_slider {width: 100%; padding:0 !important; z-index: 555;}

 .header_topline {background: none !important;}

 .little_phone_contact {position:absolute;z-index: 9999; color:white !important; top:14px; font-size: 14px; width:30%; left:50%;margin-left:-16%; }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.logo_top, .top_contacts {
 text-align: center;
}
 .logo_top img, .top_contacts img, .zakaz_1_click img {
  width: 70%;
 }
 .cw, .phone {
  color: grey !important;
 }

 .slide_item img {width: 100%;}

 .navbar-nav {z-index: 99999 !important; margin-bottom: 0;}

 .header_topline_row .top {display: none;}

 .header_topline {background: none;}

 .little_phone_contact {width:50%; margin-left: -85px;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
 .cw, .phone {
  color: grey !important;
 }

 .slide_item img {width: 100%;}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
