body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 150px;

}


.sivtsev {
    width: 600px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    position: relative;
    padding: 7px 7px 0 7px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}



p {
    width: 600px;
   line-height: 1em;
     text-align: justify;
margin: 0}

p:after {
  display: inline-block;
  width: 100%;
  content: "  ";
    margin: 0;

}

.sight01 {font-size: 100%;
    margin-top: 0;}
.sight02 {font-size: 90%}
.sight03 {font-size: 80%}
.sight04 {font-size: 70%}
.sight05 {font-size: 60%}
.sight06 {font-size: 50%}
.sight07 {font-size: 40%}
.sight08 {font-size: 30%}
.sight09 {font-size: 20%}
.sight10 {font-size: 10%}
.sight15 {font-size: 7%}
.sight20 {font-size: 5%}


.uline {
    position: absolute;
    width: 98%;
    border-bottom: 1px solid red;
    margin: 0 auto;
    bottom: 0.25em;
}



