/*common*/

html {
    width: 100%;
    max-width: 1900px;
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

.main_title {
    font-size: 28px;
    line-height: 1.2;
}

p {
    font-size: 14px;
}

a {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
    font-size: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/*header*/

#header {
    background: url(../images/header_bg.jpg);
    background-attachment: fixed;
    /*    background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.logo {
    width: 74px;
    height: 47px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.logo img:hover {
    width: 76px;
    height: 48px;
}

.overlay {
    height: auto;
}

.navbar-default {
    background-color: rgba(248, 248, 248, 0) !important;
    border-color: rgba(248, 248, 248, 0) !important;
    color: #fff !important;
}

.navbar-nav>li>a {
    color: #fff !important;
    line-height: 5px !important;
    font-size: 18px !important;
}

.header-contact {
    text-align: right;
}

.header-contact-phone {
    font-size: 24px;
    font-weight: 400;
}

.header-contact-email {
    font-size: 14px;
}

.top-menu-item,
.header-contact {
    margin: 10px 30px !important;
}
.top-menu-link {
  border: 1px solid transparent !important; // to avoid "jumping" effect
}

.top-menu-link:hover,
.top-menu-link:active {
    border: 1px solid #fff !important;
}

.header-inner {
    padding: 1% 0 22% 0;
    text-align: center;
}

.header-main-title {
    font-size: 50px;
    font-weight: 600;
}

.header-sub-title {
    font-size: 30px;
    font-weight: 400 !important;
}

.header-sub-title {
    margin-top: 10px;
}


/*
.header-bottom-menu {
    text-align: center;
    color: white;
    overflow: hidden;
}


.header-bottom-menu-about-us {
    padding: 36px;
    background: #7adeff;
    font-size: 20px;
}

.header-bottom-menu-news {
    padding: 36px;
    background: #0e4ccc;
    font-size: 20px;
}
*/

.header-bottom-menu_active {
    padding: 38px;
    box-shadow: 0 0 10px grey;
    text-align: left;
    padding-left: 40px !important;
    position: relative !important;
}


/*about us*/

.about_us {
    padding: 7% 0 5% 0;
    text-align: left;
}

.about_us_title {
    margin-top: 0;
    font-size: 24px !important;
    font-weight: 200;
}

.about_us_inner_item {
    text-align: left;
    font-size: 18px !important;
    font-weight: 200;
}


/*news*/

.news {
    padding: 5% 0 5% 0;
}

.news-item {
    margin: 50px 0;
}

.news-item-title {
    margin-top: 0;
    font-size: 18px !important;
    color: #3b3b3b !important;
}

.news-post-data,
.news-img-title {
    color: #C3C1D6;
}

.news-item-content {
    margin-bottom: 150px;
    font-size: 18px !important;
    color: #3b3b3b !important;
    font-weight: 200;
}

.news-item-text_left {
    text-align: left;
}

.news-item-text_right,
.news-img_right {
    text-align: right;
}

.cross-news-post-line {
    border-bottom: 1px solid #C3C1D6;
}

.add-more-news {
    text-align: center;
    color: #b0afaf !important;
    font-size: 24px !important;
    margin-top: 50px;
}

.add-more-news_link,
.add-more-news_link_icon {
    color: #b0afaf !important;
}

.add-more-news_link:active {
    text-decoration: none;
}

.add-more-news_link:hover,
.add-more-news_link_icon:hover {
    text-decoration: none;
    color: #77DDF4 !important;
}


/*services*/

#services {
    background: url(../images/services_bg.jpg);
    background-attachment: scroll;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

#services .overlay {
    padding: 5% 0 12% 0;
    height: auto;
    background-attachment: fixed;
    text-align: center;
}

.direction-row {
    margin-left: auto !important;
    margin-right: auto !important;
}

.services_title {
    padding-bottom: 60px;
}

.btn-services {
    background: #fff;
    color: #2687A7;
    border-radius: 0 !important;
    padding: 10px 20px !important;
}

.btn-services:hover {
    background: #77DDF4;
    color: #2687A7;
    -webkit-transition: all 2s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.direction {
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 16px !important;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    max-width: 85px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.direction:hover {
    background: #77DDF4 !important;
    -webkit-transition: all 2s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


/*partners*/

.partners {
    background: url(../images/partners_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 5% 0 5% 0;
    text-align: center;
}

.partners_titile {
    margin-bottom: 60px;
}

.partner_img {
    width: 200px;
    max-width: 200px;
    height: auto;
}

.row_partner {
    margin-bottom: 40px;
}

.partner_link {
    opacity: 0.7;
    background: none !important;
    border: 0 !important;
}

.partner_link:hover {
    opacity: 1;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.partner_link:hover .partner_img{

width: 205px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


/*footer*/

#footer {
    background: #000;
    padding: 15px 0 70px 0;
}

.footer-contact-form .form-group {
    margin-bottom: 4px;
    max-width: 350px;
}

.footer-contact-form .form-control {
    border-radius: 0;
    height: 45px;
    font-size: 18px !important;
    padding: 10px 15px !important;
    border:1px solid #7adeff;
}

textarea.form-control {
    height: 67px !important;
}

.footer-line {
    border-bottom: 1px solid #77DDF4;
    max-width: 350px;
    margin-bottom: 50px;
}

.footer-contact-right-block {
    color: #77DDF4;
}

.footer-right-block-inner-bottom {
    list-style: none;
}

.footer-right-block-inner-bottom {
    margin: 0;
    padding: 0;
}

.footer-right-block-inner-bottom>li {
    line-height: 30px;
    margin-bottom: 10px;
}

.footer-phone-icon,
.footer-email-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #77DDF4;
    text-align: center;
}

.footer-email-icon {
    color: #000;
    font-weight: 600;
}

.footer-contact-form-btn {
    width: 100% !important;
    max-width: 350px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 0 !important;
    background: #77DDF4;
    color: #005981;
}

.footer-phone-icon img {
    width: 17px;
    height: auto;
}


/*project*/

.projects {
    background-image: url(../images/project_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 5% 0 5% 0;
    text-align: center;
}

.project-common {
    text-align: left;
}

.project-common-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.project-common-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.project-contact-form {
    padding: 0 !important;
}

.footer-contact-form-btn,
.project-contact-form-btn {
    font-size: 18px !important;
    color: #005981 !important;
    background: #7adeff !important;
    padding: 15px 40px !important;
}

.project-contact-form-btn {

    font-weight: 200;
    margin-bottom: 30px !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.32);

}

.project-contact-form-btn:hover,
.footer-contact-form-btn:hover {
    background: #0e4ccc !important;
    color: white !important;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.project-item {
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat !important;
    overflow: hidden;
    color: white;
}

.project-client-name {
    font-size: 16px !important;
    font-weight: 100;
    margin-top: 30px;
}

.project-item-01 {
    background: url(../images/project_img_01.jpg);
}

.project-item-02 {
    background: url(../images/project_img_02.jpg);
}

.project-item-03 {
    background: url(../images/project_img_03.jpg);
}

.project-item-description {
    background: rgba(35, 92, 208, 0.9);
    width: 60%;
    padding: 30px 60px 0px 30px;
    text-align: left;
    text-transform: uppercase;
    height: 100%;
    min-height: 335px;
    font-size: 16px !important;
    font-weight: 100;
}

.project-item-description-content {
    font-size: 16px !important;
    font-weight: 100;
}


/*header-menu-bottom*/

.header-bottom {
    float: left;
    width: 30%;
    padding: 36px;
    text-align: center;
    color: white;
    overflow: hidden;
}

.header-bottom-menu-news {
    background: #0e4ccc;
    font-size: 24px;
    font-weight: 400;
}

.header-bottom-menu-about-us {
    background: #7adeff;
    font-size: 24px;
    font-weight: 400;
}

.header-bottom-menu_active {
    width: 70%;
    float: right;
    font-size: 30px;
    font-weight: 400;
    box-shadow: -1px 2px 10px grey;
    text-align: left;
}

.header-bottom-menu {
    position: relative;
}


/*header bottom menu transport*/

.header-bottom-tr {
    width: 30%;
    float: left !important;
    padding: 36px 5px;
    text-align: center;
    color: white;
    overflow: hidden;

}

.header-bottom-menu-sea-tr {
    background: #7adeff;
    font-size: 24px;
    font-weight: 200;
}

.header-bottom-menu-rail-tr {
    background: #d9c5c8;
    font-size: 24px;
    font-weight: 200;
}

.header-bottom-menu-auto-tr {
    background: #0e4ccc;
    font-size: 24px;
    font-weight: 400;
}

.header-bottom-menu-tr_active {
    width: 40%;
    /*float: right;*/
    font-size: 30px;
    font-weight: 400;
    box-shadow: -1px 2px 10px grey;
    text-align: left;
    padding-left: 30px;
}


/*social-media*/

.social-media {
    position: absolute;
top:45px;
}

.social-media-item {
    opacity:0.9;

}

.social-media-item:hover {

    opacity:1;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.icon-img {
    position:relative;
    width:26px;
    background:#0e4ccc;
    border-radius:13px;
    box-shadow:0px 2px 5px grey;
    opacity:0.9;
    padding: 2px;
    border:1px solid white;
}
.icon-img:hover {
    cursor:pointer;

    opacity:1;
}
.icon-img:active {
    top:1px;
    box-shadow:0px 1px 5px grey;
    opacity:1;
}

/*transport page*/

.transport {

    background-attachment: fixed;
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 5% 0 5% 0;
    height: 100%;
    min-height: 800px;
    text-align: center;
}

.header-bottom-tr a {
    text-decoration: none !important;
color: #fff !important;
}

.transport-sea {
    background-image: url(../images/sea_bg.jpg);

}
.transport-rail {
    background-image: url(../images/rail_bg.jpg);

}
.transport-auto {
    background-image: url(../images/auto_bg.jpg);

}



/*scroll up*/

#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.8; /* прозрачность */
    right: 50px; /* отступ слева */
    bottom: 50px; /* отступ снизу */
    display: none; /* спрятать блок */
    cursor: pointer;
}
.scroll-up-inner {
    width: 30px;
height: 30px;
    line-height: 30px;
border-radius: 50%;
background: #004efe;
    text-align: center;


}

.scroll-up-glyphicon {
    color: white !important;
    font-weight: bold;
}

/* Media query  Desktop First Method  */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-default .navbar-toggle-custom {
        border-color: #fff !important;
    }

    .navbar-default .navbar-toggle-custom:focus, .navbar-default .navbar-toggle-custom:hover {
        background-color: #fff !important;
        border-color: #fff !important;
    }


    .navbar-header {
background: #fff;
    }

    .top-menu-item, .header-contact {
        margin: 10px 0px !important;
    }
    .header-main-title {
        font-size: 24px;
    }
    .header-sub-title {
        font-size: 22px;
    }
    .header-contact-phone {
        font-size: 18px;
    }

    .header-bottom-menu-about-us, .header-bottom-menu-news {
        font-size: 18px;
    }

    .header-bottom-menu_active {
        font-size: 24px;
    }

    .navbar-default .navbar-toggle {

    }

    .navbar-toggle {

        float: left !important;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.navbar-brand {
    display: none;
}


    .header-main-title {
        font-size: 18px;
        text-align: left;
        font-weight: 400;
    }

    .social-media {

        top: 63px !important;
        right: 0px;
    }

    .header-bottom, .header-bottom-menu-news, .header-bottom-menu-about-us {
        font-size: 18px;
    }

    .header-bottom {
        width: 35%;
        padding: 24px 5px;
    }
    .header-bottom-menu_active {
        font-size: 20px;
        width: 65%;
    }

    .social-media {
        top: -40px;
        right: 0;
    }

    .news-item {
        margin: 18px 0;
    }

    .news-item-title {

        font-size: 15px !important;
    }
    .news-item-content {
        font-size: 14px !important;
    }

    .about_us_title {
        margin-top: 5px;
        font-size: 18px !important;
    }

    .about_us_inner_item {
        font-size: 15px !important;
    }

    .about_us_logo {width: 60px;}

    .main_title {
        font-size: 24px;
    }
    .services_title {
        padding-bottom: 35px;
    }

    .footer-contact-form-btn, .project-contact-form-btn {
        font-size: 15px !important;
        padding: 12px 30px !important;
        margin-bottom: 15px !important;
    }

    #scrollup {
        right: 25px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
