.contacts {
    max-width: 1400px;
    min-width: 1022px;
    height: 345px;
    margin: 0 auto;
}

.contacts:after {
    content: " ";
    display: block;
    clear: both;
}

.contacts_inner {
    width: 100%;
    height: 100%;
}

.contacts_item {
    /* height: 345px; */
    /* width: 696px;*/
    width: 50%;
    float: left;
    margin-top: 15px;
}
.contacts_map {
    float: right;
    width: 50%;
}

.contacts_map img {
    width: 100%;
    height: 345px;
}

.contacts_item ul {
    width: 250px;
    height: 200px;
    padding: 0;
    margin-left: 190px;
    color: #666666;
    list-style-type: none;
    font: 600 14px / 30px OpenSans;
    text-align: left;
}

.contacts_item ul li:nth-child(1) {
    color: #666666;
    font: 600 14px / 36px OpenSans;
}

.contacts_item ul li:nth-child(1):before {
    content: url(images/Layer-97.png);
    margin-right: 30px;
    vertical-align: bottom;

}

.contacts_item ul li:nth-child(5) {

    font: 600 14px / 40px OpenSans;
}

.contacts_item ul li:nth-child(5):before {
    content: url(images/Vector-Smart-Object.png);
    margin-right: 30px;
}

.contacts_item ul li:nth-child(6) {

    font: 600 14px / 34px OpenSans;
}

.contacts_item ul li:nth-child(6):before {
    content: url(images/convert.png);
    margin-right: 30px;
}

.contacts_item ul li:nth-child(6) a {
    text-decoration: none;
    color: #666666;
}

.contacts_item ul li:nth-child(2),
.contacts_item ul li:nth-child(3),
.contacts_item ul li:nth-child(4) {

    margin-left: 50px;
}

.contacts_item_img {
    width: 250px;
    height: 48px;
    margin: 35px auto 0 190px;
}

.contacts_item_img img {
    margin-right: 15px;
}