.header {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    min-width: 1022px;
    height: 116px;
}

.header:after {
    content: " ";
    display: block;
    clear: both;
}

.header__inner {
    width: 1022px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 282px;
    height: 100%;
}

.logo img {
    margin-top: 15%;
}

.menu {
    float: right;
}

ul.menu__list {
    height: 116px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: bottom;
    top: -116px;

}

li.menu__item {
    display: inline-block;
    height: 116px;
    width: 85px;
    margin-left: 20px;
    text-align: center;

}

li.menu__item a {
    font: 600 14px / 22px OpenSans;
    color: #989898;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    height: 116px;
    width: 85px;
    line-height: 116px;
    box-sizing: border-box;
}

li.menu__item a:hover {
    color: #3070a8;
    height: 116px;
    width: 85px;
    line-height: 116px;
    border-bottom: 4px solid #3070A8;
}