.testimonials {
    max-width: 1400px;
    min-width: 1020px;
    height: auto;
    background: url(images/Layer-66-copy-2.png) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    text-align: center;
    margin: 0 auto;
}

.testimonials_bg {
    max-width: 1400px;
    min-width: 1020px;
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

.testimonials h2 {
    color: #2E69A0;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    font: 700 40px / 18px FuturaBT;
}

.testimonials h2 span {
    color: #EE8129;
    font: 300 40px / 18px FuturaBT;

}

.testimonials_cont {
    width: 100%;
    max-width:1200px;
    margin: 0 0 60px 5px;
    display: inline-block;
    text-align: center;
}

.testimonials_cont_inner {
    display: inline-block;
    min-height: 50px;
    position: relative;
    margin-left: 120px;
}


.testimonials_photo img {
    width: 99px;
    height: 98px;
    margin: 0 -25px;
    position: absolute;
    top: 0;
    left: -19.5%;
}


.testimonials_item {
    max-width: 380px;
    min-width: 300px;
    height: auto;
    background: white;
    margin-left: 10px;
    margin-right: 43px;
    position: relative;
}

.testimonials_item:before {
    content: " ";
    border: 17px solid transparent;	border-right: 17px solid white;
    position: absolute;
    left: -32px;
    top:34px;
}

.testimonials_item_c_name, .testimonials_item_c_type {
    color: #3070A8; font: italic 13px / 24px 'Trebuchet MS';
    margin-bottom: 5px;
    margin-top: 5px;
}

.testimonials_item_c_name {float: left; margin-left: 32px;}

.testimonials_item_c_type {float: right; margin-right: 32px;}

.testimonials_item_text {
    clear: both;
    text-align: left;
    margin: 0 0 5px 32px;
    padding: 10px;
    /*padding-top: 10px;*/
    line-height: 20px;
    border-top: 1px dotted #666666;
    color: #666666;
    width: 330px;
    overflow: hidden;
    box-sizing: border-box;
}


